<div class="flex">
  <div class="lists" cdkDropList
       [cdkDropListData]="hotels"
       [cdkDropListConnectedTo] = "secondList"
       #firstList="cdkDropList"
       (cdkDropListDropped)="drop($event)">

    <div *ngFor="let hotel of hotels" class="hotels" cdkDrag>{{hotel}}</div>
  </div>

  <div class="lists" cdkDropList
       [cdkDropListData]="destinations"
       [cdkDropListConnectedTo]="firstList"
       #secondList="cdkDropList"
       (cdkDropListDropped)="drop($event)">
    <div *ngFor="let hotel of alteHotels" class="hotels" cdkDrag>{{hotel}}</div>
  </div>


</div>
